# Ignorar archivos y directorios específicos
__pycache__
*.pyc
*.pyo
*.pyd

# Ignorar archivos generados por el sistema
Thumbs.db
.DS_Store

# Ignorar archivos relacionados con entornos virtuales
venv/
.env

# Ignorar archivos relacionados con la construcción de Python
build/
dist/

# Ignorar archivos y directorios específicos del proyecto (ajústalos según tu estructura de directorios)
node_modules/
.idea/
.vscode/
